/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f08e80;
  color: #fff;
}

header h1,
h2 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin: 40px 0 40px 0;
  
}
/* quiz area */
.wrapper {
  margin: auto;
  padding: 8%;
  width: 70%;
  border-style: solid;
  border-color: #fff;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

.fieldset {
  border-style: none;
  line-height: 1.5;
}

.answer-list {
  line-height: 2;
}

/* buttons */
.buttons {
  text-align: center;
  color: #6d6d6d;
}

.start,
.submit-btn,
.next-btn,
.try-again-btn {
  margin: 20px 0 20px 0;
  width: 30%;
}

.next-btn {
  display: none;
}

/* deskstop view > 600px */
@media all and (min-width: 600px) {
  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 50px;
  }

  .wrapper {
    margin: auto;
    width: 60%;
    padding: 0%;
  }

  .fieldset,
  .buttons {
    font-size: 35px;
  }
}